.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 16px;
    box-sizing: border-box;
}

mat-card {
    width: 100%;
    max-width: 500px;
    color: white;
    background-color: #34373a;
}

.example-full-width {
    width: 100%;
    display: block;
}